@model List<EntityLayer.Concrete.AppointmentHour>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<br />
<div class="code-cut">
    @(Html.Grid(Model).Named("Appointment Hours").Columns(c =>
{

    c.Add(model => model.Id).Titled("Appointment Hour ID").Filterable(true).Sortable(true);
    c.Add(model => model.Hour).Titled("Appointment Hour").Filterable(true).Sortable(true);
    c.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(x => Html.ActionLink("Delete", "DeleteAppointmentHour", new { id = x.Id }));
    c.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(x => Html.ActionLink("Update", "UpdateAppointmentHour", new { id = x.Id }));
}).WithPaging(10).EmptyText("No data found")

)
</div>

<a href="/AppointmentHour/AddAppointmentHour" class="btn btn-info">Add New Appointment Hour</a>