@model EntityLayer.Concrete.Department
@{
    ViewBag.Title = "AddDepartment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>Add New Department</h3>

<br />

@using (@Html.BeginForm("AddDepartment", "AdminDepartment", FormMethod.Post))
{

<div class="form-group">
    @Html.Label("Departemtn Name")
    @Html.TextBoxFor(x => x.departmentName, new { @class = "form-control", pattern = @"^[a-zA-ZğüışöçĞÜİŞÖÇ]+$", title = "Department Name can only contain letters", @required = "required" })
    @Html.ValidationMessageFor(x => x.departmentName)
    <br />

    @Html.Label("Department Location")
    @Html.TextBoxFor(x => x.locationAdress, new { @class = "form-control", @required = "required" })
    @Html.ValidationMessageFor(x => x.locationAdress)
    <br />

    <button class="btn btn-info">Submit</button>
</div>

}

