@using EntityLayer.Concrete
@model List<Staff>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <!-- /.navbar -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Staff</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <a href="/AdminStaff/IndexInTableFormat" class="btn btn-info">Show In Table</a>
        <a href="/AdminStaff/AddStaff" class="btn btn-info">Add New Staff</a>
        <!-- Default box -->
        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row d-flex align-items-stretch">
                    @foreach (var item in Model)
                    {
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                            <div class="card bg-light">
                                <div class="card-header text-muted border-bottom-0">
                                    <h1 class="big"><span class="fas fa-lg fa-tasks"></span>  @item.staffTask</h1>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>@item.staffPreName @item.staffLastName</b></h2>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-id-card"></i></span>Soc. Sec. No: @item.stafSocSecNo</li>
                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-dollar-sign"></i></span> Salary: @item.staffSalary</li>
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            <img src="~/AdminLTE-3.0.4/login-form-19/images/staff.png" alt="" class="img-circle img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="/AdminStaff/DeleteStaff/@item.staffID" class="btn btn-sm bg-teal">
                                            <i class="fas fa-eraser"> Delete Staff</i>
                                        </a>
                                        <a href="/AdminStaff/UpdateStaff/@item.staffID" class="btn btn-sm btn-primary">
                                            <i class="fas fa-pen"></i> Update Staff
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</body>
</html>


