@using System.Data.SqlClient;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>DEUCENG HOSPITAL</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Medilab/assets/img/favicon.png" rel="icon">
    <link href="~/Medilab/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Medilab/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/Medilab/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Medilab/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Medilab/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Medilab/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Medilab/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Medilab/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Medilab/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Medilab/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Medilab - v4.9.1
    * Template URL: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
        <div class="container d-flex justify-content-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope"></i> <a>deucenghospital@deu.com</a>
                <i class="bi bi-phone"></i> +90 232 123 456
            </div>
            <div class="d-none d-lg-flex social-links align-items-center">
                <a href="https://twitter.com/" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            </div>
        </div>
    </div>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="/Home/Index">DEUCENG HOSPITAL</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="~/Medilab/assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#departments">Departments</a></li>
                    <li><a class="nav-link scrollto" href="#doctors">Doctors</a></li>
                    <li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
                    <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <a href="/Login/PatientLogin" class="appointment-btn scrollto"><span class="d-none d-md-inline"></span> Login</a>
            <a href="/Login/Index" class="appointment-btn scrollto"><span class="d-none d-md-inline"></span> Admin&Doctor Login</a>

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <h1>Welcome to DeuCeng Hospital</h1>
            <h2>We are a internationally renowned teaching hospital in Turkey.</h2>
        </div>
    </section><!-- End Hero -->

    <main id="main">
        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
            <div class="container">

                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="count-box">
                            <i class="fas fa-user-md"></i>
                            <span data-purecounter-start="0" data-purecounter-end="
                                                                          @{BusinessLayer.Concrete.DoctorManager doctorManager = new BusinessLayer.Concrete.DoctorManager(new DataAccessLayer.EntityFramework.EfDoctorDal());
                                            List<EntityLayer.Concrete.Doctor> listDoctor = doctorManager.GetList();
                                            int number = listDoctor.Count;
                                        }
                                  @number" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Doctors</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                        <div class="count-box">
                            <i class="far fa-hospital"></i>
                            <span data-purecounter-start="0" data-purecounter-end="
                                  @{BusinessLayer.Concrete.DepartmentManager departmentManager1 = new BusinessLayer.Concrete.DepartmentManager(new DataAccessLayer.EntityFramework.EfDepartmentDal());
                                            List<EntityLayer.Concrete.Department> listDepartmentManager = departmentManager1.GetList();
                                            int numberDepartment = listDepartmentManager.Count;
                                        }
                                  @numberDepartment" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Departments</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="count-box">
                            <i class="fas fa-male"></i>
                            <span data-purecounter-start="0" data-purecounter-end="
                                  @{BusinessLayer.Concrete.StaffManager staffManager1 = new BusinessLayer.Concrete.StaffManager(new DataAccessLayer.EntityFramework.EfStaffDal());
                                            List<EntityLayer.Concrete.Staff> listStaffManager = staffManager1.GetList();
                                            int numberStaff = listStaffManager.Count;
                                        }
                                  @numberStaff" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Staff</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="count-box">
                            <i class="fas fa-hospital-user"></i>
                            <span data-purecounter-start="0" data-purecounter-end="
                                  @{BusinessLayer.Concrete.UserManager userManager = new BusinessLayer.Concrete.UserManager(new DataAccessLayer.EntityFramework.EfUserDal());
                                            List<EntityLayer.Concrete.User> listUserManager = userManager.GetList();
                                            int numberUser = listUserManager.Count;
                                        }
                                  @numberUser" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Active Users</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Counts Section -->
        <!-- ======= Departments Section ======= -->
        <!-- ======= Testimonials Section ======= -->
        <section id="departments" class="testimonials">
            <div class="container">

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model)
                        {
                            <div class="swiper-slide">
                                <div class="testimonial-wrap">
                                    <div class="testimonial-item">

                                        <h3>@item.departmentName</h3>
                                        <h4>@item.locationAdress</h4>
                                        @{BusinessLayer.Concrete.DoctorManager doctorManager3 = new BusinessLayer.Concrete.DoctorManager(new DataAccessLayer.EntityFramework.EfDoctorDal());
                                            List<EntityLayer.Concrete.Doctor> listDoctor3 = doctorManager3.GetListByID(@item.departmentID);
                                            int number3 = listDoctor3.Count;
                                        }
                                        <h3>
                                            <br />
                                            In the @item.departmentName department, we have @number3 doctors who are experts in their fields.
                                        </h3>
                                    </div>
                                </div>
                            </div><!-- End testimonial item -->
                        }
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Testimonials Section -->
        <!-- ======= Doctors Section ======= -->
        @using (SqlConnection conn = new SqlConnection("data source =LAPTOP-4P7K7HVC\\SQLEXPRESS;   initial catalog=DBhospitalManagementSystemNew; integrated security=true;"))
        {
            List<EntityLayer.Concrete.Doctor> listDoctorAll = new List<EntityLayer.Concrete.Doctor>();
            // Open the connection
            conn.Open();

            // Create a command to execute the stored procedure
            SqlCommand cmd = new SqlCommand("GetRandomDoctors2", conn);
            cmd.CommandType = System.Data.CommandType.StoredProcedure;

            // Execute the stored procedure and get the results
            SqlDataReader reader = cmd.ExecuteReader();

            BusinessLayer.Concrete.DepartmentManager departmentManager5 = new BusinessLayer.Concrete.DepartmentManager(new DataAccessLayer.EntityFramework.EfDepartmentDal());
            // Iterate through the results and create a Doctor object for each row
            while (reader.Read())
            {
                EntityLayer.Concrete.Doctor doctor = new EntityLayer.Concrete.Doctor();
                doctor.doctorPreName = reader["doctorPreName"].ToString();
                doctor.doctorLastName = reader["doctorLastName"].ToString();
                doctor.doctorPhoneNo = reader["doctorPhoneNo"].ToString();
                doctor.doctorEmail = reader["doctorEmail"].ToString();
                doctor.departmentID = Convert.ToInt32(reader["departmentID"]);
                // Add the doctor object to the list
                listDoctorAll.Add(doctor);
            }

            // Close the connection and reader
            reader.Close();
            conn.Close();


            <section id="doctors" class="doctors">
                <div class="container">
                    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                        <div class="swiper-wrapper">
                            @foreach (var item in listDoctorAll)
                            {
                                <div class="swiper-slide">
                                    <div class="testimonial-wrap">
                                        <div class="testimonial-item">
                                            <div class="member d-flex align-items-start">
                                                <div class="pic"><img src="~/AdminLTE-3.0.4/dist/img/doctor-assistant-icon.png" class="img-fluid" alt=""></div>
                                                <div class="member-info">
                                                    <h4>@item.doctorPreName @item.doctorLastName</h4>
                                                    <div>
                                                        <span>@departmentManager5.GetByID(item.departmentID).departmentName</span>
                                                        <br />
                                                        <p class="small"><i class="fas fa-lg fa-phone"></i> Phone Number: @item.doctorPhoneNo</p>
                                                    </div>
                                                    <div class="social">
                                                        <a href="https://twitter.com/"><i class="ri-twitter-fill"></i></a>
                                                        <a href="https://www.facebook.com/"><i class="ri-facebook-fill"></i></a>
                                                        <a href="https://www.instagram.com/"><i class="ri-instagram-fill"></i></a>
                                                        <a href="https://www.linkedin.com/"> <i class="ri-linkedin-box-fill"></i> </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </section><!-- End Testimonials Section -->
        }
        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Frequently Asked Questions</h2>
                    <p>We have gathered some of the most common questions from patients and answered them here. If you have a question that is not answered, please contact us through our Contact us page and we would be happy to assist.</p>
                </div>

                <div class="faq-list">
                    <ul>
                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">How can I prevent COVID-19?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                                <p>
                                    The best way to prevent COVID-19 is to get vaccinated with an FDA-approved or FDA-authorized COVID-19 vaccine and stay up to date on your COVID-19 vaccines.
                                    In addition, the CDC recommends everyday preventive actions to help prevent the spread of COVID-19.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Who do I contact if I have additional questions? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    We want to make things as easy as possible so you can focus solely on your path to health.  For immediate assistance, please call +90 507 6380909
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">How do I schedule an appointment?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    You can fill the form available in our website under the patient admission section.
                                    Alternatively, you can contact the International Patient Center via telephone, fax or e-mail.
                                    <br />
                                    To request an appointment, please call our International Patients Services team at:
                                    +90 216 444 77 99
                                    <br />
                                    A member of the team will help match you with the best specialists and most appropriate services.
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Will I have my own room? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Most rooms are semi-private. We do have a limited number of private rooms, but first priority must be given to those requiring a private room for isolation purposes or other medical or equipment needs. We make every attempt to honor wishes for private rooms, but one cannot be guaranteed for the duration of your hospitalization.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Is there a timer/ time restriction for my appointment?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Yes, for now, each time slot that we are able to book per patient is for a window of 15 minutes.
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </section><!-- End Frequently Asked Questions Section -->
        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery">
            <div class="container">

                <div class="section-title">
                    <h2>Gallery</h2>
                    <p>You can find various photos of our hospital below.</p>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row g-0">

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="~/Medilab/assets/img/gallery/gallery-1.jpg" class="galelry-lightbox">
                                <img src="~/Medilab/assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="~/Medilab/assets/img/gallery/gallery-2.jpg" class="galelry-lightbox">
                                <img src="~/Medilab/assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="~/Medilab/assets/img/gallery/gallery-3.jpg" class="galelry-lightbox">
                                <img src="~/Medilab/assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="~/Medilab/assets/img/gallery/gallery-4.jpg" class="galelry-lightbox">
                                <img src="~/Medilab/assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="~/Medilab/assets/img/gallery/gallery-5.jpg" class="galelry-lightbox">
                                <img src="~/Medilab/assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="~/Medilab/assets/img/gallery/gallery-6.jpg" class="galelry-lightbox">
                                <img src="~/Medilab/assets/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="~/Medilab/assets/img/gallery/gallery-7.jpg" class="galelry-lightbox">
                                <img src="~/Medilab/assets/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="~/Medilab/assets/img/gallery/gallery-8.jpg" class="galelry-lightbox">
                                <img src="~/Medilab/assets/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Gallery Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Contact</h2>
                </div>
            </div>

            <div>
                <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12512.521191514597!2d27.2099944!3d38.3691071!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x22aca51dc55ea9d1!2zRC5FLsOcIE3DvGhlbmRpc2xpayBGYWvDvGx0ZXNpIEJpbGdpc2F5YXIgTcO8aGVuZGlzbGnEn2kgQsO2bMO8bcO8!5e0!3m2!1str!2str!4v1671579102362!5m2!1str!2str" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="container">
                <div class="row mt-5">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>Kuruçeşme Mh. Deü Kaynaklar Yerleşkesi Pk:35370 Buca/izmir</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>deucenghospital@deu.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>+90 232 123 456</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">

                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">


        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>Medilab</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/ -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="https://twitter.com/" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.skype.com/tr/" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="https://www.linkedin.com/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Medilab/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/Medilab/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Medilab/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Medilab/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Medilab/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Medilab/assets/js/main.js"></script>

</body>

</html>